.location_card {
    width : 28%;
    min-width : 340px;
    height : 340px;
    background: linear-gradient(180deg, rgb(246, 109, 108) 0%, rgb(130, 49, 50) 200%);
    border-radius: 10px;
    border : white 2px solid;
    margin : 15px 15px 35px;
}

.location_card:hover {
    border-color : #fe6262;
    animation : zoom 300ms ease-in-out forwards;
}

.location_card a {
    text-decoration: none;
}

.location_cover {
    width : 100%;
    min-height : 255px;
    object-fit : cover;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
}

.location_card h2 {
    height : 20%;
    font-size : 18px;
    line-height : 25.67px;
    text-align : left;
    margin : 5%;
    color : white;
    font-weight : 500;
    margin : 0 5%;

}

@media screen and (max-width: 400px) {
    .location_card {
        width : 100%;
        margin-left : 0;
        margin-right : 0;
        min-width: 100%;
    }
}


@keyframes zoom {
    to {
            transform: scale(1.1);
        }
    }